.welcome{
    width: 100%;
    height: 40px;
    color: white;
    font-size: 18px;
    margin: auto;
    background-color: black;
 
    text-align: center;
}
.main{
    width:75%;
    /* border: 1px solid black; */
    margin: auto;
}


.topdiv{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
  

} 

.grid___1>div{
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    box-sizing: border-box;
    text-align: left;
    /* border: 1px solid green; */
 
}
.grid___1>div:hover{
   
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.grid___1>div>img{
    width: 100%;
    height: 350px;
    padding-bottom: 20px;

}

.shipping{
    color: rgb(153, 151, 151);
    font-size: 20px;
}

.price{
    font-weight: bold;
}
.top1div{
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
 
}
.sortdiv{
    border: 1px solid black;
    height: 35px;
    width:auto;
    font-size: 13px;
}
.option{
    font-size: 13px;
}
.productContainer{

    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 5px;
    height: 500px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:5px;
   
  }
  .productContainer>div{
      position: relative;
      width: 240px;
      height: 240px;
      text-align: center;
      /* border: 1px solid green; */
    
  }

  .productContainer>div>img{
      width:100%;
      height: 100%;
  }

  .grid___1{
    display: grid;
    height:auto;
    grid-template-columns: repeat(3,250px);
    margin-top: 5%;
    gap:1%;
   /* border: 1px solid yellow; */
}
.sort{
    border: 1px solid black;
    width: 270px;
    height: 40px;
    margin-left: 95%;
    margin-top: 2%;
}

.side{
    /* border: 1px solid black; */
    font-weight: bold;
}

.you{
    text-align: center;
}
.sidebar__1{
    font-size: 12px;
}

.flex__div{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    margin-left: -45px;
}

.input_1{
    width: 20px; 
}

.label__1{
    margin-top:5px;
}
.title{

    text-decoration: none;
    color: black;

}

.title:hover{

    text-decoration: underline;
    color: black;

}

.blackdiv {
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blackdiv > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 13px;
  }
  .blackdiv > div > div > a {
    display: none;
  }
